.roulette-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2em;
}

.winner-display {
    color: darkgreen;
    font-size: 3em;
    padding: 1em;
    border: 3px solid darkgreen;
    margin-bottom: 1em;
}